<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/horserace</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="connector"/>-->
        <!--<property name="1111"/>-->
        <mapping resource="entities.xml/Bets.hbm.xml"/>
        <mapping class="com.chel.lab2.entities.Bet"/>
        <mapping resource="entities.xml/Clients.hbm.xml"/>
        <mapping class="com.chel.lab2.entities.Client"/>
        <mapping resource="entities.xml/Participants.hbm.xml"/>
        <mapping class="com.chel.lab2.entities.Participant"/>
        <mapping resource="entities.xml/Races.hbm.xml"/>
        <mapping class="com.chel.lab2.entities.Race"/>
        <mapping resource="entities.xml/Riders.hbm.xml"/>
        <mapping class="com.chel.lab2.entities.Rider"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>